name: Build and smoke test

on:
- pull_request
- push

jobs:
  build_and_test:
    strategy:
      matrix:
        python-version: [3.6, 3.9]
    name: Build and smoke test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2.2.1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: |-
          sudo apt-get update
          sudo apt-get install --yes --no-install-recommends imagemagick inkscape
          pip install \
            --disable-pip-version-check \
            --user \
            --no-warn-script-location \
            .
          echo "PATH=${HOME}/.local/bin:${PATH}" >> "${GITHUB_ENV}"

      - name: Smoke test
        run: |-
          set -e

          ./test-for-rendering-regressions.sh

          cd /tmp  # to not be in Git clone folder

          xiangqi-board --help
          xiangqi-board dummy-board.{svg,ini}

          xiangqi-setup --help
          xiangqi-setup --debug "${GITHUB_WORKSPACE}"/doc/demo.fen demo-fen.svg
          xiangqi-setup --debug "${GITHUB_WORKSPACE}"/doc/demo.wxf demo-wxf.svg
          xiangqi-setup --debug --moves 54 "${GITHUB_WORKSPACE}"/doc/demo-with-history-playok.{wxf,svg}
