name: Build and smoke test (Python 3.8)

on:
- pull_request
- push

jobs:
  build_and_test:
    name: Build and smoke test
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v1.1.1
        with:
          python-version: 3.8

      - name: Install
        run: |-
          set -e
          pip install \
            --disable-pip-version-check \
            --user \
            --no-warn-script-location \
            .
          echo "PATH=${HOME}/.local/bin:${PATH}" >> "${GITHUB_ENV}"

      - name: Smoke test
        run: |-
          set -e
          cd /tmp  # to not be in Git clone folder

          xiangqi-board --help
          xiangqi-board dummy-board.{svg,ini}

          xiangqi-setup --help
          xiangqi-setup --debug "${GITHUB_WORKSPACE}"/doc/demo.wxf demo.svg
